/* Write your CSS here! */

body
  {
    background-color: rgb(159, 200, 238);
    
  }
  h1 
  {
    color: white;
    text-align: center;
    font-family: 'Algerian';
  }
  nav ul 
  {
    text-align: center;
    padding: 0;
  }

  ul
  {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  

  p {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 20px;
  }